h2.favArtistStyle {
    margin-bottom: 0px
}
li.color1 {
    color: #c516da;
}
li.color2 {
    color: #f385ff;
}
.roundbullets{
    list-style-type: circle;
    display: inline-block;
    margin-top: 5px;
}