#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #fef2ee;
  margin: 0;
  padding-top: 1px;
  padding-left: 0px;
  padding-right: 0px;
  color: #8f054c;
}
nav {
  background-color: #fac1e1;
  list-style-type: none;
  text-align: center;
  float: right;
  width: 100%;
  font-size: 25px;

  a {
    text-decoration: none;
    color: #8f054c;
    padding: 10px;
    margin: 5px;
    width: 100%;
  }
}
nav li, ul {
  display: flex;
  column-gap: 15px;
  justify-content: space-between;
  margin: 10px;
  padding-right: 20px;
}
nav a:hover {
  background-color: #a6cbaa;
  color: #07500e;
}
#icon {
  color: #8f054c;
  width: 50%;
  float: left;
  text-align: left;
  line-height: 100px;
}
#banner {
  background-image: url("1b_img.jpg");
  background-size: cover;
  background-position: center center;
  top: 100px;
  /*height: 100vh;*/
  text-align: center;
  color: white;
}
#content {
  padding: 0 200px 200px;
}
.roundbullets{
  list-style-type: circle;
  display: inline-block;
  margin-top: 5px;
}
.collapse {
  border-collapse: collapse;
  border: 1px solid #9c005e;
  width: 100%;
}
td {
  padding: 15px;
  text-align: left;
  border-left: 1px solid #9c005e;
}
th {
  padding: 20px;
}
.borderright {
  border-right: 1px solid #9c005e;
}
h3 {
  margin-bottom: 0px;
}
select option[value="valuetohide"] {
  display: none;
}
#formdiv {
  background-color: #ffdbee;
  padding: 10px;
  border: 1px solid #9c005e;
}
#img {
  transform: rotate(90deg);
  height: auto;
  width: 50%;
  margin-top: 0;
}
#smallimg:hover {
  transform: rotate(-90deg);
}
#smallimg {
  width: 300px;
  max-width: 640px;
  height: auto;
}
#nameinbanner{
  text-align: center;
  line-height: 100%;
  font-weight: bold;
  font-size: 20vh;
  padding-top: 5vh;
  padding-bottom: 1px;
  text-shadow: 4px 4px 5px #a60275;
  text-color: white;
}
h1, h2 {
  font-family: 'Courier New', monospace;
  font-weight: bold;
}
h2.favArtistStyle {
  margin-bottom: 0px
}
li.color1 {
  color: #c516da;
}
li.color2 {
  color: #f385ff;
}
caption.tableStyle{
  font-size: 20px;
}
tr.tableTrStyle {
  background-color: #fac1e1;
  border-bottom: 1px solid #9c005e;
}
option.pink{
  background-color: pink;
}
option.green{
  background-color: mediumseagreen;
}
option.blue{
  background-color: deepskyblue;
}
option.purple{
  background-color: plum;
}
input.formText{
  height: 100px;
  width: 90%;
}